<configuration>
  <system.webServer>



  <httpErrors errorMode="Detailed" />
    <!-- indicates that the main file is a node.js application
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="within.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="t1">
          <match url="/*" />
          <conditions>
            <add input="{URL}" pattern="^/(WithinWCF)/" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="within.js" />
        </rule>
      </rules>
    </rewrite>

 <iisnode
      nodeProcessCommandLine="c:\Program Files\nodejs\node.exe"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      watchedFiles="*.js;;node_modules\*;routes\*.js;"
     />

  </system.webServer>
</configuration>
